*
{
	
	box-sizing: border-box;

}

body
{
	padding: 0;
	margin: 0;
	font-family: 'Baloo Chettan';

}

.done-right-brand
{
	font-size: 2rem;
	color: #AA0000;
}

.done-right a:hover
{

}
.main-content
{
	background-image: url("img/living-room-3.jpg");

}

.main-content-heading
{
	font-size: 1.4rem;
	color: #000;
	line-height: 28pt;
	background-color: rgba(00,00,00,.5);
	color: #FFF;
}

.contact-phone
{

	font-size: 1.5rem;
	padding: 0 auto;
	background-color: rgba(249,00,00,.3);
	color: #000;
}

.btn-danger
{
	float: right;
	width: 6rem;
}

.services
{
	color: #FFF;
	font-size: 1.1rem;
	padding: 2px;
	font-family: Abel;
}

.second-row 
{
	padding:0;
	box-sizing: border-box;
	margin-top: 15px;
	justify-content: space-between;
	display: flex;
}

.second-row-img
{
	flex-basis: 35%;
	height: auto;
	overflow: hidden;
}



.second-row-img img
{
	width: 105%;
	height: 225px;
}

.package li
{
	list-style: none;
}


@media (max-width: 578px)
{
	.done-right-brand
	{
		font-size: 1.5rem;

	}

	.second-row
	{
		display: block;
	}

	.second-row-list
	{
		justify-content: space-around;
	}

}